server:
  port: 8088
spring:
  application:
    name: consumer
yejjrpc:
  zk:
    #providers: http://localhost:8081,http://localhost:8082,http://localhost:8083
    zkServer: 119.3.171.141:2181
    zkRoot: yejjrpc

  app:
    id: app1
    namespace: public
    env: dev
  comsumer:
    retrys: 2
    timeout: 1000
    grayRatio: 10
    faultLimit: 10 # 30s 内10次错误则隔离
    halfOpenInitialDelay: 10000
    halfOpenDelay: 60000
logging:
  level:
    root: info
    cn.yejj.yejjrpc: debug